---
import '../styles/global.css'
import { config } from 'mhr-payload'
import { AdminBar } from '@/components/AdminBar'

// make this cleaner, more dynamic, once we have static params and slugs?
const url = Astro.url;
const slug = url.pathname
//console.log(slug)
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Astro Basics</title>
	</head>
	<body class="bg-stone-950">
		<AdminBar path={slug} adminBarProps={{preview: true,}} client:only="react"/>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
