---
import { getGlobal } from '../utilities/getGlobals'
import { CMSLink } from 'ui-library/component/react/Link/index.tsx'

import type { Header } from 'app-payload/types'
import { Logo } from 'ui-library/component/react/Logo/index.tsx'

const { navItems }: Header = await getGlobal('header', 1)

 const { headerIsDark } = Astro.props
---
<header class="container relative z-20" data-theme={headerIsDark && 'dark'}>
  <div class="py-8 flex justify-between">
    <a href="/">
      <Logo loading="eager" priority="high" className="invert dark:invert-0" />
    </a>
    <nav class="flex gap-3 items-center">
      {navItems?.map(({ link }, i) => {
        return <CMSLink {...link} appearance="link" client:load />
      })}
      <a href="/search">
        <span class="sr-only">Search</span>
        <svg class="w-5 text-primary" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" aria-hidden="true"><circle cx="11" cy="11" r="8"/><line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>
      </a>
    </nav>
  </div>
</header>
